/* Reglas css generales */
* {
    box-sizing: border-box;
}

* {
    font-family: 'Roboto Slab', serif;
}

body {
    background-image: url(../img/fondo-naranja.jpeg);
    margin: 15px 50px 15px 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul,
ol {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* Diseño para computadora */

/*Header*/
header.header {
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

nav.nav {
    display: flex;
    align-items: flex-start;
}

a.navbar {
    margin: 5px 40px 0px 40px;
    font-size: 30px;
    color: white;
    background-color: brown;
    padding: 10px;
}

img.header {
    width: 80px;
}

img.header1 {
    display: none;
}

/*footer*/
footer {
    margin-top: auto;
}

ul.footer {
    display: flex;
    justify-content: space-around;
    color: white;
}


/*home*/

.lisStyle {
    display: flex;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 10px;
    height: 300px;
    width: 300px;
    color: white;
}

.picture {
    width: 180px;
    height: 180px;
}


/*detalle Artista*/
.dArtista {
    display: flex;
    justify-content: space-evenly;
}

.art {
    align-items: center;
    align-content: center;
    width: 500px;
    height: 400px;
}

.imgArtista {
    width: 400px;
    height: 400px;
}

/*generos*/
.tituloGeneros {
    display: flex;
    justify-content: center;
    color: darkred;
    font-size: 35px;
}

.imagenesGenero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    width: 300px;

}

nav.navGeneros {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

a.borde {
    display: flex;
    background-color: brown;
    margin: 20px;
    text-decoration: none;
    color: white;
    width: 180px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.sectionGeneros {
    display: flex;
    align-items: center;
    justify-content: center;
}



/*detalle del genero*/
.tituloDetalleGenero {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: darkred;
}

.subtituloDetalleGenero {
    display: flex;
    justify-content: center;
    color: darkred;
}

section.detalleGeneros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imagenesDetalleGenero {
    display: flex;
    flex-direction: row;
    width: 250px;
}

article.artDetalleGenero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p.artistasDetalleGenero {
    display: none;
}



/*Playlist*/
section.playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article.play{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 10px;
}


/*Detalle cancion*/

.sectionDetalleCancion{
    display: flex;
    justify-content: space-between;
}

.articleDetalleCancion{
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.listDetalleCancion{
    width: 50%;
    font-size: 20px;
}
.articleDetalleCancion1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boton{
    background-color: white;
    height: 150px;
    width: 200px;
    margin-bottom: 10px;
}

/*Search*/

.search {
    display: flex;
    justify-content: space-around;
}

.arti,
.alb,
.can {
    display: flex;
    flex-direction: column;
}

.animacionDeCarga{
    display: flex;
    justify-content: center;
}

/*Detalle album*/


/*Diseño para mobile*/
@media (max-width: 420px) {

    /* Reglas generales */
    body {
        margin: 5px 20px 0px 20px;
    }

    /*Header*/
    header.header {
        display: flex;
        height: 20vh;
        flex-direction: column;
    }

    div.headerResponsive {
        display: flex;
        align-items: center;
        justify-content: space-between;
        order: -1;
    }

    nav.nav {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    img.header {
        display: none;
    }

    img.header1 {
        display: block;
        height: 10vh;
        width: 10vh;
    }

    a.navbar {
        font-size: 20px;
        padding: 10px;
        margin: 0px;
    }

    /*footer*/
    ul.footer {
        display: flex;
        flex-direction: column;
    }

    /*genero*/
    .tituloGeneros {
        display: flex;
        justify-content: center;
    }

    nav.navGeneros {
        display: none;
    }

    .imagenesGenero {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px;
        width: 250px;
        height: 250px;

    }

    .sectionGeneros {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /*detalle del genero*/

    .tituloDetalleGenero {
        display: flex;
        justify-content: center;
        font-size: 35px;
        color: darkred;
    }

    .subtituloDetalleGenero {
        display: flex;
        justify-content: center;
        color: darkred;
    }

    section.detalleGeneros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagenesDetalleGenero {
        display: flex;
        flex-direction: column;
        width: 250px;
        margin: 20px;
    }

    article.artDetalleGenero {
        display: none;
        flex-direction: row;
        justify-content: space-around;
    }

    p.artistasDetalleGenero {
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    /*Detalle cancion*/
    .sectionDetalleCancion{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .articleDetalleCancion{
        display: flex;
        width: 100%;
        height: 50%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .listDetalleCancion{
        width: 40%;
        font-size: 15px;
    }
    .playerDetalleCancion{
        margin-left: 10px;
        height: 200px;
        width: 60%;
    }
    .articleDetalleCancion1{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }
    .boton{
        background-color: white;
        height: auto;
        width: auto;
        margin-bottom: 10px;
    }




    /*Playlist*/
    article.playlist {
        display: flex;
        flex-direction: column;
    }

    img.playlist {
        width: 150px;
        height: 112px;
    }

    /*Detalle cancion*/
    

    /*Search responsive*/


    /*Detalle album responsive*/
    section.dalbum {
        display: flex;
        flex-direction: column;
    }

    img.dalbum {
        width: 200px;
        height: 150px;
    }

    /*home responsive*/
    .lisStyle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .article {
        flex-direction: row;
        margin: 20px 0px;
        height: 100px;
        width: 200px;
        justify-content: space-between;
    }

    .aParaResponsive {
        order: -1;
    }

    .picture {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }

    /*detalle artista responsive*/
    .dArtista {
        display: flex;
        flex-direction: column;
    }

    .art {
        width: 380px;
        height: 300px;
        align-items: center;
    }

    .imgArtista {
        width: 200px;
        height: 200px;
    }

    .dArtistaResponsiveArticulos {
        height: 100px;
    }

}


