*{
    box-sizing: border-box;
}
/*Computadora*/
body{
<<<<<<< HEAD

=======
    background-image: url(../img/Fondos-para-páginas-web.jpg);
    color: white;
>>>>>>> ffbcaebfe3e8e8d42c592b5e597aef90bbee478c
}
.headerIndex{
    display: flex;
    flex-direction: row;
    height: 15vh;
    justify-content: space-between;
    }
a{
    text-decoration: none;
    color: grey;
}
/*Tablet*/
@media (max-width: 768px){

}
.imagenesGenero{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
}

